.stage {
  width: 500px;
  height: 500px;
  background-color: #f0f8ff;
  border: 2px solid #ccc;
  position: relative;
  overflow: hidden;
}

.character {
  width: 100px;
  height: 100px;
  background-color: #ff9800;
  border: 2px solid #c66900;
  border-radius: 50%;
  position: absolute;
  transition: all 0.1s linear;
}

.character:not(.custom-character)::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #c66900;
}

.character.custom-character {
  border-radius: 0;
  background-color: transparent;
  border: none;
}